body{
    margin: 0;
    height: 100%;
    display: flex;
    font-size: 40px;
    flex-direction: row;
    justify-content: space-around;
    color: #b05d04;
    background-color: black;
}

img{ 
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    margin: 0%;
  
}

h1{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 15px;
}
figure{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}